
<ion-content>
  <ion-row class="logo">
    <ion-col size="12" class="ion-align-self-center">
        <input type="button" (click)="uploadPicture()"> 
    </ion-col>
      <ion-col size="12" class="ion-align-self-center">
        <ion-icon name="add-circle-outline"></ion-icon>
  </ion-col> 
  </ion-row>
  <ion-row class="form">
    <ion-col size="12">
        <ion-item [ngClass]="user. firstName.trim().length < 2 ? 'errorEmail' : 'goodEmail'">
          <ion-label position="floating">Firstname</ion-label>
          <ion-input type="text" [(ngModel)]="user. firstName"></ion-input>
        </ion-item>
        <ion-item [ngClass]="user.lastName.trim().length <2 ? 'errorEmail' : 'goodEmail'">   
          <ion-label position="floating">Lastname</ion-label>
          <ion-input type="text" [(ngModel)]="user.lastName"></ion-input>
        </ion-item>
        <ion-item [ngClass]=" isErrorMail ? 'errorEmail' : 'goodEmail'">
          <ion-label position="floating">Email</ion-label>
          <ion-input (keydown)="checkEmail()" type="email" [(ngModel)]="user.email"></ion-input>
        </ion-item> 
        <ion-item [ngClass]="isErrorPhone? 'errorEmail' : 'goodEmail'">
          <ion-label position="floating">Phone number</ion-label>
          <ion-input (keyup)="checkPhone()" type="tel" [(ngModel)]="user.phone"></ion-input>
        </ion-item> 
        <ion-item [ngClass]="user.password.trim().length < 5 ? 'errorEmail' : 'goodEmail'">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.password"></ion-input>
        </ion-item> 
        <ion-item [ngClass]="user.password.trim() != user.confirmPassword.trim() ||user.confirmPassword.trim().length < 2? 'errorEmail' : 'goodEmail'"> 
          <ion-label position="floating">Re-Password</ion-label>
          <ion-input type="password" [(ngModel)]="user.confirmPassword"></ion-input>
        </ion-item> 
    </ion-col> 
    <ion-col>
      <ion-button [disabled]="isErrorMail ||isErrorPhone || (user.password.trim() != user.confirmPassword.trim() && user.confirmPassword.trim().length < 2 )" 
                 (click)="registrer()" expand="full" class="btnLogin">Registrer</ion-button>
    </ion-col>
  </ion-row>
  <p> <a routerLink="/login"> You already have an account? login </a> </p>
</ion-content>
