ion-header{
    ion-icon{
        font-size: xx-large;
    }
}
.logo{

    ion-col{
        text-align:center;
        ion-icon{
            font-size: 4rem;
            background: #f9bebe;
            padding: 8%;
            border-radius: 50%;      
        }
           .inner-scroll{
            color:linear-gradient(to right top, #f9af12, #ff8e1e, #ff6b31, #f94544, #eb1256) !important;
           }

    }
   
}
.form{
    .text{
        padding: 15% 5%;
        h4{
            text-align: center;
        }
    }
}