<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let feed of feeds">
    <img src="https://cdn.britannica.com/82/212182-050-50D9F3CE/basketball-LeBron-James-Cleveland-Cavaliers-2018.jpg" />
    <ion-card-header>
      <ion-card-subtitle>{{feed.creator}}</ion-card-subtitle>
      <ion-card-title>{{feed.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content [innerHTML]="feed.description">
    </ion-card-content>
  </ion-card>
</ion-content>
